turnament {
  display:flex;
  flex-direction:row;
}

.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:33%;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

li.game{
  padding-left:20px;
  font-size: 20px;
}

  li.game.winner{
    font-weight:bold;
  }

  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:70px;
  }

  li.game-bottom{ 
    border-top:1px solid #aaa;
  }

  .winner {
    color: greenyellow;
  }

  .looser {
    color: red;
  }